<section class="menu-container">
  <div class="menu">
    <div class="logo-container">
      <img class="logo-menu-ts" src="../assets/logo_white.png" alt="" />
    </div>
    <div class="nav-container">
      <ul class="nav">
        <li>Inicio</li>
        <li
          class="tooltip-trigger"
          (mousemove)="showTooltip1()"
          (mouseleave)="hideTooltip1()"
        >
          Conversation Clubs
        </li>
        @if (isTooltipVisible1) {
        <div class="tooltip1">
          <h4 style="text-align: center">
            Habla inglés con confianza y claridad
          </h4>
          <strong style="margin-bottom: 25px; font-weight: bold"
            >Metodología</strong
          >
          <ul>
            <li>Nuestros clubes están diseñados para brindar práctica real</li>
            <li>Grupos pequeños de máximo 4 personas</li>
            <li>Un docente experto te guiará durante la sesión</li>
            <li>El horario lo eliges tú</li>
            <li>Material exclusivo</li>
            <li>Retroalimentación personalizada</li>
            <li>Entrevistas para conocer tu nivel en el idioma</li>
          </ul>
        </div>

        }
        <li
          class="tooltip-trigger"
          (mousemove)="showTooltip2()"
          (mouseleave)="hideTooltip2()"
        >
          Clases personalizadas
        </li>
        @if (isTooltipVisible2) {
        <div class="tooltip2">
          <p>
            En <strong>TalkSmartly</strong> cada clase esta diseñada para ti.
            Nuestro enfoque personalizado se adapta a tus necesidades, intereses
            y objetivos, ya sea que busques mejorar tu fluidez, adquirir
            vocabulario especifico, preparar una presentación profesional o
            sentirte mas seguro al viajar. Con profesores expertos, metodos
            prácticos y material exclusivo, disfrutarás de un aprendizaje
            dinámico y efectivo que te llevará a comunicarte con confianza en
            cualquier contexto.
          </p>
        </div>

        }
        <li
          class="tooltip-trigger"
          (mousemove)="showTooltip3()"
          (mouseleave)="hideTooltip3()"
        >
          Planes corporativos
        </li>
        @if (isTooltipVisible3) {
        <div class="tooltip3">
          <p>
            Impulsa el crecimiento de tu equipo con nuestros planes
            corporativos. Desarrollar su talento bilingüe es una inversión
            estratégica para el futuro de tu compañía. <br />
            <br />
            ¡Te ayudamos a construir tu camino al éxito! <br />
            <br />
            Metodología <br />
            <br />
          </p>

          <ul>
            <li>
              Diagnóstico inicial: Evaluamos el nivel y necesidades de cada
              colaborador.
            </li>
            <li>
              Clases personalizadas: Sesiones individuales enfocadas en
              redacción, presentaciones, vocabulario técnico y fluidez.
            </li>
            <li>
              Clases de conversación: Grupos reducidos (máx. 4 personas) para
              practicar inglés en contextos reales.
            </li>
            <li>
              Simulación de escenarios reales: Actividades basadas en desafíos
              de la empresa para un aprendizaje práctico y aplicable.
            </li>
            <li>
              Seguimiento y resultados: Reportes periódicos y ajustes
              estratégicos para optimizar su aprendizaje.
            </li>
          </ul>
        </div>

        }
        <li
          class="tooltip-trigger"
          (mousemove)="showTooltip4()"
          (mouseleave)="hideTooltip4()"
        >
          Preparación para exámenes
        </li>
        @if (isTooltipVisible4) {
        <div class="tooltip4">
          <p>
            ¿Listo para alcanzar tus metas academicas y profesionales? <br />
            <br />
            En <strong>Talksmartly</strong> te ayudamos a obtener el puntaje que
            necesitas en exámenes internacionales como IELTS, TOEFL, MET y más.
            Nuestros cursos están diseñados para brindarte estrategias
            efectivas, ejercicios prácticos y una preparación integral en cada
            área del exámen. Con profesores especializados y retroalimentación
            constante, trabajarás en tus debilidades, potenciarás tus fortalezas
            y ganarás la confianza necesaria para sueprar cualquier desafio.
            <br /><br />
            ¡Prepárate con nosotros y logra el éxito que mereces!
          </p>
        </div>

        }
        <li
          class="tooltip-trigger"
          (mousemove)="showTooltip5()"
          (mouseleave)="hideTooltip5()"
        >
          Quiénes somos?
        </li>
        @if (isTooltipVisible5) {
        <div class="tooltip5">
          <p>
            Somos un grupo de docentes que creemos que aprender un idioma no se
            trata solo de memorizar reglas, sino de hablar con confianza en
            cualquier situación; partiendo de eso, creamos una academia de
            idiomas con un enfoque práctico y conversacional, diseñada para que
            nuestros estudiantes aprendan de manera natural, efectiva y
            personalizada. <br />
            <br />
            Ofrecemos clases personalizadas y clases de conversación que se
            adaptan a las necesidades de cada estudiante, con un método
            dinámico, retroalimentación constante y profesores expertos. Nuestro
            objetivo es que cada lección sea una experiencia enriquecedora,
            efectiva y motivadora. <br />
            <br />
            En <strong>TalkSmartly,</strong> no solo enseñamos idiomas, ¡creamos
            experiencias de aprendizaje que transforman la manera en que te
            comunicas con el mundo!.
          </p>
        </div>

        }
      </ul>
      <div class="flags-header">
        <img class="logo-menu" src="../assets/flag_1.png" alt="" />
        <img class="logo-menu" src="../assets/flag_2.png" alt="" />
        <img
          (click)="redirectToApi()"
          class="logo-user"
          src="../assets/user.png"
          alt=""
        />
        <span class="material-symbols-outlined burger"> menu </span>
      </div>
    </div>
  </div>
</section>

<section class="section-1-container">
  <div class="section-1">
    <h1>En TalkSmartly</h1>
    <p style="text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4)">
      transformamos la enseñanza de idiomas <br />
      con un enfoque conversacional, práctico y personalizado
    </p>
    <form [formGroup]="FormContact">
      <div class="container-inputs-1">
        <div class="section-input">
          <div class="label-input">Nombre</div>
          <div class="input-field">
            <img class="icon-input" src="../assets/icon-form-name.png" alt="" />
            <input formControlName="name" class="input" type="text" />
          </div>
        </div>
        <div class="section-input">
          <div class="label-input">Celular</div>
          <div class="input-field">
            <img
              class="icon-input"
              src="../assets/icon-form-phone.png"
              alt=""
            />
            <input formControlName="phone" class="input" type="text" />
          </div>
        </div>
      </div>
      <div class="container-inputs-1">
        <div class="section-input">
          <div class="label-input">Correo electrónico</div>
          <div class="input-field">
            <img class="icon-input" src="../assets/icon-form-mail.png" alt="" />
            <input formControlName="email" class="input" type="text" />
          </div>
        </div>
        <div class="section-input">
          <div class="label-input">País</div>
          <div class="input-field">
            <img
              class="icon-input"
              src="../assets/icon-form-location.png"
              alt=""
            />
            <input formControlName="country" class="input" type="text" />
          </div>
        </div>
      </div>
      <button (click)="sendEmail()" class="button-form">
        <img
          class="icon-input"
          src="../assets/icon-form-button.png"
          alt=""
        />Enviar
      </button>
    </form>
  </div>
</section>

<section class="section-2-container">
  <div class="flags-container-s2">
    <h2>¿Qué idioma quieres aprender?</h2>
    <div class="flags-container-s2-inner">
      <div>
        <div>
          <img class="flag-s2" src="../assets/flag-1-s2.png" alt="" />
          <span
            (click)="
              redirectToWhatsApp(
                '573145606014',
                'Hola, quiero más información acerca de los cursos de TalkSmartly'
              )
            "
            class="tooltip-trigger"
            (mousemove)="showTooltipIngles()"
            (mouseleave)="hideTooltipIngles()"
            >Inglés</span
          >
        </div>
        @if (isTooltipVisibleIngles) {
        <section
          (mousemove)="showTooltipIngles()"
          (mouseleave)="hideTooltipIngles()"
          class="tooltipIngles"
        >
          <p>
            Domina el inglés con un enfoque 100% práctico en nuestros
            conversation clubs y clases personalizadas, que te ayudarán a hablar
            con fluidez y confianza en situaciones reales, recibiendo
            retroalimentacíon constante.
          </p>
          <div></div>
        </section>
        }
        <div>
          <img class="flag-s2" src="../assets/flag-2-s2.png" alt="" />
          <span
            (click)="
              redirectToWhatsApp(
                '573145606014',
                'Hola, quiero más información acerca de los cursos de TalkSmartly'
              )
            "
            class="tooltip-trigger"
            (mousemove)="showTooltipFrances()"
            (mouseleave)="hideTooltipFrances()"
            >Francés</span
          >
        </div>
        @if (isTooltipVisibleFrances) {
        <section
          (mousemove)="showTooltipFrances()"
          (mouseleave)="hideTooltipFrances()"
          class="tooltipFrances"
        >
          <p>
            Aprende francés de manera dinámica con un docente exclusivo para ti.
            Con nuestro método práctico y conversacional mejorarás tu
            comprensión y expresión oral con mayor eficiencia, particiando en
            interacciones auténticas con docentes expertos.
          </p>
        </section>
        }
        <div>
          <img class="flag-s2" src="../assets/flag-3-s2.png" alt="" />
          <span
            (click)="
              redirectToWhatsApp(
                '573145606014',
                'Hola, quiero más información acerca de los cursos de TalkSmartly'
              )
            "
            class="tooltip-trigger"
            (mousemove)="showTooltipEspanol()"
            (mouseleave)="hideTooltipEspanol()"
            >Español</span
          >
        </div>
        @if (isTooltipVisibleEspanol) {
        <section
          (mousemove)="showTooltipEspanol()"
          (mouseleave)="hideTooltipEspanol()"
          class="tooltipEspanol"
        >
          <p>
            Desarrolla tus habilidades en español con clases personalizadas,
            diseñadas según tus metas y necesidades, con un enfoque práctico
            para lograr una comunicación efectiva. <br />
            <br />
            Practica en escenarios reales, recibe correciones personalizadas y
            avanza con confianza en cada interacción.
          </p>
        </section>
        }
      </div>
      <div>
        <img class="image2-s2" src="../assets/image2-s2.jpg" alt="" />
      </div>
    </div>
    <div style="width: 100%; text-align: center">
      <button
        (click)="
          redirectToWhatsApp(
            '573145606014',
            'Hola, quiero más información acerca de los cursos de TalkSmartly'
          )
        "
      >
        Inscribirme
      </button>
    </div>
  </div>
</section>

<section class="section-3-container">
  <app-carrusel></app-carrusel>
</section>

<section class="section-4-container">
  <h2>Descubre por qué TalkSmartly es tu opción ideal para aprender idiomas</h2>
  <div class="container-target-s4">
    <div class="target-s4">
      <img src="../assets/calendar-icon.png" alt="" />
      <h4>Flexibilidad horaria</h4>
      <p>Tú eliges el horario que más se ajuste a tus necesidades diarias.</p>
    </div>
    <div class="target-s4">
      <img src="../assets/conversation-icon.png" alt="" />
      <h4>Conversation clubs</h4>
      <p>
        Mejora tu fluidez en un entorno dinámico y real para perfeccionar tu
        comunicación.
      </p>
    </div>
  </div>
  <div class="container-target-s4">
    <div class="target-s4">
      <img src="../assets/method-icon.png" alt="" />
      <h4>Metodología</h4>
      <p>
        Contamos con una metodología práctica y conversacional, con materiales
        diseñados de acuerdo a tus objetivos y necesidades.
      </p>
    </div>
    <div class="target-s4">
      <img src="../assets/material-icon.png" alt="" />
      <h4>Material exclusivo</h4>
      <p>
        Creamos un material exclusivo para tus clases personalizadas,
        contextualizando el material a tu profesión o intereses personales.
      </p>
    </div>
  </div>
  <div>
    <button
      (click)="
        redirectToWhatsApp(
          '573145606014',
          'Hola, quiero más información acerca de los cursos de TalkSmartly'
        )
      "
    >
      Inscribirme
    </button>
  </div>
</section>

<section class="section-5-container">
  <h2>Nuestros planes</h2>
  <div class="container-target-s5">
    <div class="target-s5">
      <h4>Discover</h4>
      <ul>
        <li>12 horas mensuales</li>
        <li>Grupos reducidos</li>
        <li>Acceso a la plataforma para programar y revisar tus clases</li>
        <li>Feedback y progreso detallado</li>
      </ul>
      <div class="container-prices-s5">
        <span>$ 469.900</span><br />
        <span>(IVA incluido)</span>
      </div>
    </div>
    <div class="target-s5">
      <h4>Plus</h4>
      <ul>
        <li>60 horas en 4 meses</li>
        <li>Organiza tus horarios como elijas</li>
        <li>Grupos reducidos</li>
        <li>Acceso a la plataforma para programar y revisar tus clases</li>
        <li>Feedback y progreso detallado</li>
      </ul>
      <div class="container-prices-s5">
        <span
          >De <span style="text-decoration: line-through">$2.400.000</span> a
          $2.039.000</span
        ><br />
        <span>(IVA incluido)</span>
      </div>
    </div>
    <div class="target-s5">
      <h4>Premium</h4>
      <ul>
        <li>120 horas en 7 meses</li>
        <li>Organiza tus horarios como elijas</li>
        <li>Grupos reducidos</li>
        <li>Acceso a la plataforma para programar y revisar tus clases</li>
        <li>Feedback y progreso detallado</li>
        <li>Material exclusivo</li>
      </ul>
      <div class="container-prices-s5">
        <span
          >De <span style="text-decoration: line-through">$4.800.000</span> a
          $2.399.000</span
        ><br />
        <span>(IVA incluido)</span>
      </div>
    </div>
    <div class="target-s5">
      <h4>Master</h4>
      <ul>
        <li>240 horas en 14 meses</li>
        <li>De lunes a viernes</li>
        <li>Acceso a la plataforma para programar y revisar tus clases</li>
        <li>Feedback y progreso detallado</li>
        <li>Material exclusivo</li>
        <li>12 tutorías personalizadas</li>
      </ul>
      <div class="container-prices-s5">
        <span
          >De <span style="text-decoration: line-through">$9.600.000</span> a
          $3.559.000</span
        ><br />
        <span>(IVA incluido)</span>
      </div>
    </div>
  </div>

  <div>
    <button
      (click)="
        redirectToWhatsApp(
          '573145606014',
          'Hola, quiero más información acerca de los cursos de TalkSmartly'
        )
      "
    >
      Arma tu plan
    </button>
  </div>
</section>

<!-- <section class="section-6-container">
  <h2 style="text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3)">
    Testimonios de nuestros estudiantes
  </h2>
</section> -->

<section class="section-6-container-2">
  <h2 style="text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3)">
    Testimonios de nuestros estudiantes
  </h2>
  <app-carrusel-2></app-carrusel-2>
</section>

<section class="section-7-container">
  <h2>Niveles de estudio</h2>
  <div class="container-target-s7">
    <div>
      <h3>Introductory (10 horas)</h3>
      <img src="../assets/1.svg" alt="" />
    </div>
    <div>
      <h3>Beginners (60 horas)</h3>
      <img src="../assets/2.svg" alt="" />
    </div>
    <div>
      <h3>Pre intermediate (60 horas)</h3>
      <img src="../assets/3.svg" alt="" />
    </div>
  </div>
  <div class="container-target-s7">
    <div>
      <h3>Intermediate (90 horas)</h3>
      <img src="../assets/4.svg" alt="" />
    </div>
    <div>
      <h3>Advanced (70 horas)</h3>
      <img src="../assets/5.svg" alt="" />
    </div>
  </div>
  <div class="container-button-section-7">
    <button
      (click)="
        redirectToWhatsApp(
          '573145606014',
          'Hola, quiero más información acerca de los cursos de TalkSmartly'
        )
      "
      class="button-section-7"
    >
      Inscribirme
    </button>
  </div>
</section>

<section class="section-8-container">
  <h2>Habilidades a Desarrollar</h2>
  <div class="container-target-s8">
    <div>
      <img src="../assets/icon1-s8.png" alt="" /><br />
      <button>Pronunciation</button>
    </div>
    <div>
      <img src="../assets/icon2-s8.png" alt="" /><br />
      <button>Listening</button>
    </div>
    <div>
      <img src="../assets/icon3-s8.png" alt="" /><br />
      <button>Grammar</button>
    </div>
  </div>
  <div class="container-target-s8">
    <div>
      <img src="../assets/icon4-s8.png" alt="" /><br />
      <button>Vocabulary</button>
    </div>
    <div>
      <img src="../assets/icon5-s8.png" alt="" /><br />
      <button>Writing</button>
    </div>
  </div>
</section>

<section class="section-9-container">
  <h2>Preguntas frecuentes</h2>
  <div class="container-target-s9">
    <div (mousemove)="showTooltipQ1()" (mouseleave)="hideTooltipQ1()">
      <h4>¿Necesito tener conocimientos previos para inscribirme?</h4>
      @if (isTooltipQ1) {
      <p class="tooltipQ1">
        No necesitas tener ningún conocimiento previo en el idioma, ya que
        ofrecemos cursos desde el nivel introductory, los cuales están enfocados
        en personas que aún no cuentan con ningún acercamiento del idioma.
      </p>
      }
    </div>
    <div (mousemove)="showTooltipQ2()" (mouseleave)="hideTooltipQ2()">
      <h4>¿Debo comprar libros para los cursos?</h4>
      @if (isTooltipQ2) {
      <p class="tooltipQ2">
        No, ya que nosotros diseñamos un material exclusivo de acuerdo a tus
        objetivos y necesidades; de este modo el docente te guiará en tu proceso
        de aprendizaje con contextos de acuerdo a tus intereses laborales o
        personales.
      </p>

      }
    </div>
  </div>
  <div class="container-target-s9">
    <div (mousemove)="showTooltipQ3()" (mouseleave)="hideTooltipQ3()">
      <h4>¿Puedo crear y escoger el número de clases que desee?</h4>
      @if (isTooltipQ3) {
      <p class="tooltipQ3">
        ¡Claro que sí! Si ningún plan se acomoda a lo que deseas, puedes
        contactarnos para crear juntos uno para ti.
      </p>

      }
    </div>
    <div (mousemove)="showTooltipQ4()" (mouseleave)="hideTooltipQ4()">
      <h4>¿Los cursos están disponibles para todas las edades?</h4>
      @if (isTooltipQ4) {
      <p class="tooltipQ4">
        Nuestros cursos conversacionales están diseñados para trabajar con
        personas desde los 17 años, pero nuestros cursos personalizados son para
        todas las edades.
      </p>

      }
    </div>
  </div>
  <div class="container-target-s9">
    <div (mousemove)="showTooltipQ5()" (mouseleave)="hideTooltipQ5()">
      <h4>¿Qué diferencia hay entre los cursos grupales e individuales?</h4>
      @if (isTooltipQ5) {
      <p class="tooltipQ5">
        Nuestros cursos grupales están enfocados a la práctica conversacional,
        con clases semi-personalizadas de hasta máximo 4 estudiantes, en donde
        se discuten temas de actualidad y de interés. Por otro lado, las clases
        personalizadas son sesiones uno a uno con el docente. En este curso
        creamos material exclusivo para ti donde se enfoca en tus metas y en tus
        necesidades para que alcances resultados de manera más eficiente.
      </p>

      }
    </div>
    <div (mousemove)="showTooltipQ6()" (mouseleave)="hideTooltipQ6()">
      <h4>¿Puedo obtener un certificado al finalizar el curso?</h4>
      @if (isTooltipQ6) {
      <p class="tooltipQ6">
        Te otorgamos certificados de participación y cumplimiento de nuestros
        cursos; sin embargo, este certificado no tendrá validez académica, pero
        si deseas puedes formarte con nosotros en la preparación para exámenes
        internacionales como IELTS, TOEFL, MIT, Linguaskill, entre otros.
        Nosotros te asesoramos en todo tu proceso de certificación.
      </p>

      }
    </div>
  </div>
  <div class="container-target-s9">
    <div (mousemove)="showTooltipQ7()" (mouseleave)="hideTooltipQ7()">
      <h4>¿Cómo puedo saber qué nivel de idioma tengo?</h4>
      @if (isTooltipQ7) {

      <p class="tooltipQ7">
        En el momento que adquieres cualquiera de nuestros cursos o planes,
        tendrás una entrevista totalmente gratuita donde un profesor experto
        evaluará el nivel en el que te encuentras.
      </p>
      }
    </div>
    <div (mousemove)="showTooltipQ8()" (mouseleave)="hideTooltipQ8()">
      <h4>¿Cómo puedo pasar de un nivel a otro?</h4>
      @if (isTooltipQ8) {

      <p class="tooltipQ8">
        Para avanzar de un nivel a otro necesitas haber finalizado el curso del
        nivel en el que te encuentres, o si consideras haber alcanzado el nivel
        antes de culminarlo, puedes, en cualquiera de los dos casos, debes
        solicitar una entrevista de reclasificación.
      </p>
      }
    </div>
  </div>
  <div>
    <button
      style="margin-bottom: 35px"
      (click)="
        redirectToWhatsApp(
          '573145606014',
          'Hola, quiero más información acerca de los cursos de TalkSmartly'
        )
      "
    >
      Escribenos para una atención personalizada
    </button>
  </div>
</section>

<section class="footer">
  <div class="container-section-footer">
    <div>
      <h4>¿Qué idioma quieres aprender?</h4>
      <div class="section-footer">
        <img class="flag-s2" src="../assets/flag-1-s2.png" alt="" />
        <span>Inglés</span>
      </div>
      <div class="section-footer">
        <img class="flag-s2" src="../assets/flag-2-s2.png" alt="" />
        <span>Francés</span>
      </div>
      <div class="section-footer">
        <img class="flag-s2" src="../assets/flag-3-s2.png" alt="" />
        <span>Español</span>
      </div>
    </div>
    <div class="levels-footer">
      <h4>Niveles de estudio</h4>
      <p>Introductory</p>
      <p>Beginners</p>
      <p>Pre intermediate</p>
      <p>Intermediate</p>
      <p>Advanced</p>
    </div>
    <div class="">
      <h4>Contáctanos</h4>
      <div class="container-contact-icons">
        <img
          (click)="
            redirectToWhatsApp(
              '573145606014',
              'Hola, quiero más información acerca de los cursos de TalkSmartly'
            )
          "
          class="icon-RRSS"
          src="../assets/footer/icon-whatsapp.png"
          alt=""
        />
        <span class="material-symbols-outlined icon-RRSS"> mail </span>
      </div>
    </div>
    <div class="">
      <h4>Nuestras redes sociales</h4>
      <div class="container-contact-icons">
        <img
          class="icon-RRSS"
          (click)="
            redirectToRRSS('https://www.instagram.com/talksmartlylanguage/ ')
          "
          src="../assets/footer/icon-instagram.png"
          alt=""
        />
        <img
          class="icon-RRSS"
          (click)="
            redirectToRRSS(
              'https://www.facebook.com/profile.php?id=61568375635935 '
            )
          "
          src="../assets/footer/icon-face.png"
          alt=""
        />
        <img
          class="icon-RRSS"
          (click)="redirectToRRSS('https://www.tiktok.com/@talksmartly.langu')"
          src="../assets/footer/icon-tik.png"
          alt=""
        />
        <img
          class="icon-RRSS"
          (click)="
            redirectToRRSS(
              'https://www.linkedin.com/in/talksmartly-language-academy-79181b357/ '
            )
          "
          src="../assets/footer/icon-link.png"
          alt=""
        />
      </div>
    </div>
    <div>
      <h4>Trabaja con nosotros</h4>
      <div class="text-trabaja">
        ¿Te apasiona la enseñanza de idiomas y conectar con personas a través de
        la conversación? En TalkSmartly estamos buscando personas como tú:
        <ul>
          <li>Con formación en lenguas, educación o áreas afines.</li>
          <li>Apasionadas por la enseñanza y el aprendizaje de idiomas.</li>
          <li>Que disfruten comunicarse en inglés, francés o español.</li>
          <li>
            Con una actitud dinámica, curiosa y con ganas de aportar ideas
            nuevas.
          </li>
        </ul>
        Si sientes que este perfil te representa, queremos conocerte.
      </div>
    </div>
  </div>
</section>
