<owl-carousel-o class="carrusel-pc" [options]="customOptions">
  <ng-container>
    <ng-template carouselSlide>
      <div class="container-target-s6">
        <div class="target-s6">
          <div class="target-s6-inner">
            <div class="container-user-s6">
              <img src="" alt="" />
            </div>
            <div class="container-infotxt">
              <img
                class="image-profile"
                src="../../assets/perfiles/1.png"
                alt=""
              />
              <div>
                <span>itta Delgado</span><br />
                <span>Ingeniera de software</span>
              </div>
            </div>
          </div>
          <p>
            “Lo que más me gustó de TalkSmartly desde el inicio es que no
            esperas semanas para empezar a hablar; desde la primera clase ya
            estás interactuando, compartiendo ideas y recibiendo feedback. Me
            sentí escuchada y motivada, fue un cambio total frente a otras
            academias donde solo hacíamos ejercicios escritos y haba mucha
            gente. Aquí las clases se sienten como conversaciones reales, y eso
            me ayudó muchísimo a ganar confianza.”
          </p>
        </div>
        <div class="target-s6">
          <div class="target-s6-inner">
            <div class="container-user-s6">
              <img src="" alt="" />
            </div>
            <div class="container-infotxt">
              <img
                class="image-profile"
                src="../../assets/perfiles/2.png"
                alt=""
              />
              <div>
                <span>Victor Muñoz</span><br />
                <span>Ingeniero eléctrico</span>
              </div>
            </div>
          </div>
          <p>
            “Llegué a TalkSmartly buscando algo distinto a las típicas clases
            aburridas y llenas de gente, y encontré justo lo que necesitaba, las
            sesiones son 100% conversacionales, con temas útiles y reales; me
            ayudó a dejar de traducir mentalmente cada frase y empezar a pensar
            en inglés. Además, el ambiente es muy relajado y dinámico, lo cual
            hace que uno se anime a hablar, aunque cometa errores.”
          </p>
        </div>
        <div class="target-s6">
          <div class="target-s6-inner">
            <div class="container-user-s6">
              <img src="" alt="" />
            </div>
            <div class="container-infotxt">
              <img
                class="image-profile"
                src="../../assets/perfiles/3.png"
                alt=""
              />
              <div>
                <span>Andrés Lopez</span><br />
                <span>Desarrollador</span>
              </div>
            </div>
          </div>
          <p>
            “Siempre tuve buen nivel de gramática, pero hablar en inglés era
            otra historia; me trababa, dudaba de cada palabra, pero con
            TalkSmartly aprendí que equivocarse es parte del proceso y que
            hablar es la mejor manera de mejorar. En cada clase tengo la
            oportunidad de practicar con personas de mi mismo nivel y con
            profesores que realmente te corrigen con amabilidad y te explican
            cómo sonar más natural. Estoy avanzando más de lo que imaginé.”
          </p>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="container-target-s6">
        <div class="target-s6">
          <div class="target-s6-inner">
            <div class="container-user-s6">
              <img src="" alt="" />
            </div>
            <div class="container-infotxt">
              <img
                class="image-profile"
                src="../../assets/perfiles/4.png"
                alt=""
              />
              <div>
                <span>David Muñoz</span><br />
                <span>Ingeniera de software</span>
              </div>
            </div>
          </div>
          <p>
            “Lo que me enganchó de TalkSmartly fue el enfoque práctico desde el
            día uno, no sentí que estaba ‘estudiando inglés’, sino viviéndolo;
            las clases son tan naturales que a veces se me olvida que estoy en
            una clase y lo mejor es que todo se enfoca en ayudarte a mejorar en
            lo que tú necesitas, no en seguir un libro genérico.”
          </p>
        </div>
        <div class="target-s6">
          <div class="target-s6-inner">
            <div class="container-user-s6">
              <img src="" alt="" />
            </div>
            <div class="container-infotxt">
              <img
                class="image-profile"
                src="../../assets/perfiles/10.png"
                alt=""
              />
              <div>
                <span>Laura Muñoz</span><br />
                <span>Química farmacéutica</span>
              </div>
            </div>
          </div>
          <p>
            “Me inscribí en TalkSmartly porque me lo recomendó un colega, para
            mejorar en mi trabajo donde necesito hablar con clientes en inglés.
            Gracias a las clases, ahora me siento mucho más segura, aprendí
            expresiones comunes, mejoré mi pronunciación, y sobre todo, aprendí
            a reaccionar rápido en conversaciones reales. Las correcciones son
            súper útiles, amables y lo hacen con mucho tacto.”
          </p>
        </div>
        <div class="target-s6">
          <div class="target-s6-inner">
            <div class="container-user-s6">
              <img class="image-profile" src="" alt="" />
            </div>
            <div class="container-infotxt">
              <img
                class="image-profile"
                src="../../assets/perfiles/6.png"
                alt=""
              />
              <div>
                <span>Jorge Muñoz</span><br />
                <span>Ingeniero de software</span>
              </div>
            </div>
          </div>
          <p>
            “Sentía que mi inglés estaba estancado, hasta que encontré
            TalkSmartly, aquí no perdemos tiempo con teoría innecesaria; todo lo
            que aprendo lo uso en conversación, y eso hace la diferencia. Las
            clases se sienten útiles desde el primer día, estoy mucho más seguro
            hablando, y lo mejor es que ya lo noto en mi vida real: en reuniones
            con clientes extranjeros, viajes, incluso al ver series; hablar
            inglés ya no me bloquea.”
          </p>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="container-target-s6">
        <div class="target-s6">
          <div class="target-s6-inner">
            <div class="container-user-s6">
              <img src="" alt="" />
            </div>
            <div class="container-infotxt">
              <img
                class="image-profile"
                src="../../assets/perfiles/7.png"
                alt=""
              />
              <div>
                <span>Jesus Delgado</span><br />
                <span>Arquitecto</span>
              </div>
            </div>
          </div>
          <p>
            “He probado muchas academias online, pero ninguna como TalkSmartly,
            aquí realmente sientes que estás aprendiendo con propósito. Las
            clases no son robóticas ni repetitivas; desde el inicio me
            preguntaron cuáles eran mis objetivos y las sesiones se ajustaron a
            eso, conversamos sobre temas que me interesan, y al final de cada
            clase recibo observaciones claras que me ayudan a mejorar sin perder
            la motivación. Totalmente recomendado.”
          </p>
        </div>
        <div class="target-s6">
          <div class="target-s6-inner">
            <div class="container-user-s6">
              <img class="image-profile" src="" alt="" />
            </div>
            <div class="container-infotxt">
              <img
                class="image-profile"
                src="../../assets/perfiles/8.png"
                alt=""
              />
              <div>
                <span>Andrea Chavéz</span><br />
                <span>Diseñadora gráfica</span>
              </div>
            </div>
          </div>
          <p>
            “Soy de esas personas que entendía inglés, pero no se animaba a
            hablar. En TalkSmartly encontré un espacio cómodo y cero intimidante
            para empezar a soltarme; después de unas semanas, ya notaba que
            podía mantener conversaciones más fluidas, lo que más me gusta es
            que no se enfocan en la perfección, sino en ayudarte a comunicarte
            con claridad, siento que por fin estoy usando el inglés, no solo
            estudiándolo.”
          </p>
        </div>
        <div class="target-s6">
          <div class="target-s6-inner">
            <div class="container-user-s6">
              <img class="image-profile" src="" alt="" />
            </div>
            <div class="container-infotxt">
              <img
                class="image-profile"
                src="../../assets/perfiles/9.png"
                alt=""
              />
              <div>
                <span>Paula Martinez</span><br />
                <span>Comunicadora social</span>
              </div>
            </div>
          </div>
          <p>
            “Soy mamá y trabajo todo el día, así que necesitaba clases flexibles
            y efectivas. En TalkSmartly encontré eso y más, me encanta que las
            clases son prácticas, enfocadas en hablar y no en llenar hojas de
            ejercicios, de este modo he mejorado mi pronunciación y mi seguridad
            al expresarme; además, los profesores son súper pacientes y
            comprensivos, y las clases son con pocos estudiantes. Ahora me
            siento más preparada para entrevistas o reuniones en inglés, y eso
            no tiene precio.”
          </p>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>

<owl-carousel-o class="carrusel-movil" [options]="customOptions">
  <ng-container>
    <ng-template carouselSlide>
      <div class="target-s6">
        <div class="target-s6-inner">
          <div class="container-user-s6">
            <img src="" alt="" />
          </div>
          <div class="container-infotxt">
            <img
              class="image-profile"
              src="../../assets/perfiles/1.png"
              alt=""
            />
            <div>
              <span>Mónica Delgado</span><br />
              <span>Ingeniera de software</span>
            </div>
          </div>
        </div>
        <p>
          “Lo que más me gustó de TalkSmartly desde el inicio es que no esperas
          semanas para empezar a hablar; desde la primera clase ya estás
          interactuando, compartiendo ideas y recibiendo feedback. Me sentí
          escuchada y motivada, fue un cambio total frente a otras academias
          donde solo hacíamos ejercicios escritos y haba mucha gente. Aquí las
          clases se sienten como conversaciones reales, y eso me ayudó muchísimo
          a ganar confianza.”
        </p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="target-s6">
        <div class="target-s6-inner">
          <div class="container-user-s6">
            <img src="" alt="" />
          </div>
          <div class="container-infotxt">
            <img
              class="image-profile"
              src="../../assets/perfiles/2.png"
              alt=""
            />
            <div>
              <span>Victor Muñoz</span><br />
              <span>Ingeniero eléctrico</span>
            </div>
          </div>
        </div>
        <p>
          “Llegué a TalkSmartly buscando algo distinto a las típicas clases
          aburridas y llenas de gente, y encontré justo lo que necesitaba, las
          sesiones son 100% conversacionales, con temas útiles y reales; me
          ayudó a dejar de traducir mentalmente cada frase y empezar a pensar en
          inglés. Además, el ambiente es muy relajado y dinámico, lo cual hace
          que uno se anime a hablar, aunque cometa errores.”
        </p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="target-s6">
        <div class="target-s6-inner">
          <div class="container-user-s6">
            <img src="" alt="" />
          </div>
          <div class="container-infotxt">
            <img
              class="image-profile"
              src="../../assets/perfiles/3.png"
              alt=""
            />
            <div>
              <span>Andrés Lopez</span><br />
              <span>Desarrollador</span>
            </div>
          </div>
        </div>
        <p>
          “Siempre tuve buen nivel de gramática, pero hablar en inglés era otra
          historia; me trababa, dudaba de cada palabra, pero con TalkSmartly
          aprendí que equivocarse es parte del proceso y que hablar es la mejor
          manera de mejorar. En cada clase tengo la oportunidad de practicar con
          personas de mi mismo nivel y con profesores que realmente te corrigen
          con amabilidad y te explican cómo sonar más natural. Estoy avanzando
          más de lo que imaginé.”
        </p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="target-s6">
        <div class="target-s6-inner">
          <div class="container-user-s6">
            <img src="" alt="" />
          </div>
          <div class="container-infotxt">
            <img
              class="image-profile"
              src="../../assets/perfiles/4.png"
              alt=""
            />
            <div>
              <span>David Muñoz</span><br />
              <span>Ingeniera de software</span>
            </div>
          </div>
        </div>
        <p>
          “Lo que me enganchó de TalkSmartly fue el enfoque práctico desde el
          día uno, no sentí que estaba ‘estudiando inglés’, sino viviéndolo; las
          clases son tan naturales que a veces se me olvida que estoy en una
          clase y lo mejor es que todo se enfoca en ayudarte a mejorar en lo que
          tú necesitas, no en seguir un libro genérico.”
        </p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="target-s6">
        <div class="target-s6-inner">
          <div class="container-user-s6">
            <img src="" alt="" />
          </div>
          <div class="container-infotxt">
            <img
              class="image-profile"
              src="../../assets/perfiles/10.png"
              alt=""
            />
            <div>
              <span>Laura Muñoz</span><br />
              <span>Química farmacéutica</span>
            </div>
          </div>
        </div>
        <p>
          “Me inscribí en TalkSmartly porque me lo recomendó un colega, para
          mejorar en mi trabajo donde necesito hablar con clientes en inglés.
          Gracias a las clases, ahora me siento mucho más segura, aprendí
          expresiones comunes, mejoré mi pronunciación, y sobre todo, aprendí a
          reaccionar rápido en conversaciones reales. Las correcciones son súper
          útiles, amables y lo hacen con mucho tacto.”
        </p>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="target-s6">
        <div class="target-s6-inner">
          <div class="container-user-s6">
            <img src="" alt="" />
          </div>
          <div class="container-infotxt">
            <img
              class="image-profile"
              src="../../assets/perfiles/6.png"
              alt=""
            />
            <div>
              <span>Jorge Muñoz</span><br />
              <span>Ingeniero de software</span>
            </div>
          </div>
        </div>
        <p>
          “Sentía que mi inglés estaba estancado, hasta que encontré
          TalkSmartly, aquí no perdemos tiempo con teoría innecesaria; todo lo
          que aprendo lo uso en conversación, y eso hace la diferencia. Las
          clases se sienten útiles desde el primer día, estoy mucho más seguro
          hablando, y lo mejor es que ya lo noto en mi vida real: en reuniones
          con clientes extranjeros, viajes, incluso al ver series; hablar inglés
          ya no me bloquea.”
        </p>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="target-s6">
        <div class="target-s6-inner">
          <div class="container-user-s6">
            <img src="" alt="" />
          </div>
          <div class="container-infotxt">
            <img
              class="image-profile"
              src="../../assets/perfiles/7.png"
              alt=""
            />
            <div>
              <span>Jesus Delgado</span><br />
              <span>Arquitecto</span>
            </div>
          </div>
        </div>
        <p>
          “He probado muchas academias online, pero ninguna como TalkSmartly,
          aquí realmente sientes que estás aprendiendo con propósito. Las clases
          no son robóticas ni repetitivas; desde el inicio me preguntaron cuáles
          eran mis objetivos y las sesiones se ajustaron a eso, conversamos
          sobre temas que me interesan, y al final de cada clase recibo
          observaciones claras que me ayudan a mejorar sin perder la motivación.
          Totalmente recomendado.”
        </p>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="target-s6">
        <div class="target-s6-inner">
          <div class="container-user-s6">
            <img src="" alt="" />
          </div>
          <div class="container-infotxt">
            <img
              class="image-profile"
              src="../../assets/perfiles/8.png"
              alt=""
            />
            <div>
              <span>Paula Martinez</span><br />
              <span>Comunicadora social</span>
            </div>
          </div>
        </div>
        <p>
          “Soy mamá y trabajo todo el día, así que necesitaba clases flexibles y
          efectivas. En TalkSmartly encontré eso y más, me encanta que las
          clases son prácticas, enfocadas en hablar y no en llenar hojas de
          ejercicios, de este modo he mejorado mi pronunciación y mi seguridad
          al expresarme; además, los profesores son súper pacientes y
          comprensivos, y las clases son con pocos estudiantes. Ahora me siento
          más preparada para entrevistas o reuniones en inglés, y eso no tiene
          precio.”
        </p>
      </div></ng-template
    >

    <ng-template carouselSlide>
      <div class="container-target-s6">
        <div class="target-s6">
          <div class="target-s6-inner">
            <div class="container-user-s6">
              <img src="" alt="" />
            </div>
            <div class="container-infotxt">
              <img
                class="image-profile"
                src="../../assets/perfiles/9.png"
                alt=""
              />
              <div>
                <span>Andrea Chavéz</span><br />
                <span>Diseñadora gráfica</span>
              </div>
            </div>
          </div>
          <p>
            “Soy de esas personas que entendía inglés, pero no se animaba a
            hablar. En TalkSmartly encontré un espacio cómodo y cero intimidante
            para empezar a soltarme; después de unas semanas, ya notaba que
            podía mantener conversaciones más fluidas, lo que más me gusta es
            que no se enfocan en la perfección, sino en ayudarte a comunicarte
            con claridad, siento que por fin estoy usando el inglés, no solo
            estudiándolo.”
          </p>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
